.gridContainer_root__L1vs4:last-child {
    display: none;
}
.gridContainer_number-of-el__ssBLH{
    display: none !important;
}
.gridContainer_root__L1vs4 .gridContainer_grid-container__Z2HEq,.stickerGenerator_root__ya9lG *:not(:first-child):not(:nth-child(2)){
    display: none;
}

/* .gridContainer_root__L1vs4:not(:first-child) {
    display: none;
} */
